.dashboard {
  /* background-color: white; */
  background: linear-gradient(#cdebd7, #f2f8bf, #f0d4be, #f7ddc8);
  margin: 20px;
  color: #2a363b;
  border-radius: 20px;
  padding: 20px;
  height: 80%;
}

.add-plus {
  color: #e84a5f;
  background-color: rgba(0, 0, 0, 0);
  font-size: 40px;
  padding: 5px;
  width: 60px;
  border: none;
  position: relative;
  top: 17px;
}
