.dashboard {
    background-color:white;
    margin: 20px;
    color: #2A363B;
    border-radius: 20px;
    padding: 20px;
    height: 80%;
    
}

.add-plus {
    color:  #E84A5F;
    background-color: #99B898;
    box-sizing: border-box;
    font-size: 100%;
    padding: 5px;
    width: 60px;
    border: none;
    position: relative;
    top: 17px;
}
