/* .shares-table {
    background-color: #eeeeee;
    padding: 20px;
    margin: 20px;
    text-align: center;
    
}
.table, .share-td {
    border: 1px solid black;
    border-collapse: collapse;
    
} */