.form-input {
  margin: 5px;
}

.add-button {
  color: #e84a5f;
  background-color: white;
  box-sizing: border-box;
  font-size: 100%;
  padding: 5px;
  width: 60px;
  border: none;
  position: relative;
  top: 17px;
}
